@import url('./font.css');

/* designing the navigation  */
#header{
	height: 50px;
	width: 100%;
	position: fixed;
	transition: all 0.4s;
}
.navbar-default{
    background-color: transparent !important;
	border-radius: 0px;
	border:0px;
}
.navbar-default .navbar-nav #active{
    background-color: transparent !important;
}
.navbar-default .mynav{
	margin-left:250px;
}
.navbar-default .navbar-nav > li > a{
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto-Regular.ttf';
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: gray !important;
	transition: 2s;
}
.navbar-right{
    margin-top: 10px !important;
}
.navbar-brand {
margin-top: -7px;
}
.cancel_nav{
	display: none;
	background-color: red;
	color: #FFF;
	width: 30px;
	text-align: center;
	border-radius: 20%;
	height: 20px;
	cursor: pointer;
	float: right;
	margin-top: -308px;
	margin-left: -480px !important;
}

.sear{
	display: none;
}
.navbar-right .btn-warning{
border-radius: 0px;
border: 1px solid orange;
 margin-right: 30px !important;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFF;
    font-weight:lighter;
    line-height: 18px;
	border-radius: 5px;
}
.search::placeholder{
    color: red;
}
.navbar-right .bat{
    margin-right:40px;
    border-radius: 0px;
    background-color:transparent;
}
.navbar-right .bat .fa-search{
    color: red;
}
.navbar-right .bat  .sear{
margin-top: -10px;
margin-right:10px;
}
.search_input{
	background-color:aliceblue;
	width:170px;
	border-radius:30px;
	border-top-right-radius: 0px;
	padding:5px;
	margin-right: -5px;
}
.search_input::placeholder{
	color:red;
	font-family: 'Raleway-Regular.ttf';
	padding: 10px;
}
.search_submit{
	margin-right: -60px;
	border: 1px solid red;
	padding:5px;
}
.btn_search{
	display: none;
	border-radius: 5px;
	width: 70px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-family: 'Roboto-Regular.ttf';
}
/*end of navigation design */

/* amb styling */
.amb{
    padding-top: 200px;
    padding-bottom: 400px;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.amb .container .head-content #het-content{
	margin-top: 100px !important;
    color: red;
	opacity: 0.7;
    text-align: center;
   margin-top: 0px;
   font-family:'Raleway-Black.ttf' !important;
   font-size: 50px;
	font-weight: 800;
}
.amb .container .btn-grp{
    margin-left: 300px;
    margin-top: 45px;
}
.amb .container .btn-grp .btn-default{
    border-radius: 0px;
   padding-left:65px;
   padding-right:70px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   font-family:'Roboto-Regular.ttf';
   background-color: transparent;
    color: #FFF;
	border-radius: 5px;
	transition: 2s;
}
.amb .container .btn-grp .btn-default:hover{
    background-color: rgb(253, 253, 253);
	transition: 2s;
	color: red;
}
.amb .container .btn-grp .btn-primary{
    border-radius: 0px;
    text-align: center;
    margin-left: 20px;
   padding-left:65px;
   padding-right:70px;
   padding-top: 10px;
	border-radius: 5px;
/*	font-weight: 700;*/
	font-family:'Roboto-Regular.ttf';
   padding-bottom: 10px;
	transition: 2s;
}
.amb .container .btn-grp .btn-primary:hover{
	transition: 2s;
    background-color: transparent; }/*AMB Style Ends Here */
/*   Health Tips Styling */
.get_amb{
	display: none;
}
#health_col h1{
	text-align: center;
	font-family:'Roboto-Black.ttf' ;
	color: black;
}
#health_col{
	background-color: skyblue;
	width:400px;
}
#health_col .caro_thumb{
	background-color:black;
	margin:30px auto;
	height:250px;
	width:400px;
}
#health_col .caro_thumb img{
	 height:100px; 
	 width:150px;
}
#health_col .caro_thumb h5{
	color: red;
	margin-left:30px;
	font-family: 'Roboto-Bold.ttf';
}
#health_col .caro_thumb h4{
	text-align: center;
	color: red;
	font-family: 'Roboto-Black.ttf';
}
#health_col .caro_thumb .thumb_p{
	color: #FFF;
	font-family: 'Roboto-Regular.ttf';
	padding: 20px;
}

/* End Of Health Tips Styling */
    /* hed styling */
.hed{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: rgb(228, 227, 227) !important;
}
.hed .container h1{
    text-align: center;
    font-weight: 900;
    font-family:'Roboto-Black.ttf';
}
.hed .container .brd{
    border-bottom: 15px solid red;
    width: 70px;
    margin-left: 47%;

}
.hed .container .hed-content{
    margin-top: 30px;

}
.hed .container .hed-content  .fa-angle-double-right{
    font-size: 40px;
    cursor: pointer;
    margin-top: 30px;

}
.hed .container .hed-content p{
    color: rgb(0, 2, 20);
    margin-top: -34px;
    margin-left: 25px;
    font-weight: bolder;
    font-family: 'Raleway-Regular.ttf';
    font-size: 20px;
    text-transform: capitalize;
    opacity: 0.9;
}
.hed .container .row .col-md-3{
    margin-left: 80px;
}
.hed .container .row .col-md-3 h3{
    color: red;
    text-align: center;
    font-family: 'Roboto-Regular.ttf';
    font-weight:800;
}
.hed .container .row .col-md-3 p{
	color: green;
	font-family: 'Raleway-Regular.ttf';
}
/*End of  services Styling*/

/* emerg design */
.emerg{
    padding-top:300px;
    padding-bottom:300px;
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/2501590-ambulance-wallpapers.jpg'); !important;
    background-size: cover;
    background-position: center;
}
.emerg .container .emer {
	margin-top: -50px;
}
.emerg .container .emer h1{
    text-align: center;
    color: #FFF;
/*    font-weight: 800;*/
	font-family:'Roboto-Black.ttf';
}
.emerg .container .emer .btn-typ{
margin-left: 360px;
margin-top: 40px;
}
.emerg .container .emer .btn-typ .btn-danger{
    padding-left: 60px;
    padding-right: 60px;
    margin-left:-45px;
    border-radius: 6px;
    transition: 1s;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family:'Raleway-Light.ttf' !important;
    background-color: transparent;
    color: #FFF;
}
.emerg .container .emer .btn-typ .btn-danger:hover{
    background-color: red;
    transition: 1s;
}

.emerg .container .emer .btn-typ .btn-primary{
     padding-left: 60px;
    padding-right: 60px;
    margin-left:25px;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 2s;
	 font-family:'Raleway-Light.ttf' !important;
}
.emerg .container .emer .btn-typ .btn-primary:hover{
    background-color: transparent;
    transition: 1s;
}
/*Pop up styling */
 /* pop up design */
.rat .container-fluid{
			margin: 0px auto;
            width: 450px;
            /* top:90px !important;
            bottom: 60px; */
/*            z-index: 1000;*/
			padding-left:30px !important;
			padding-right:10px !important;
			padding-top: 20px;
			padding-bottom:20px;
        }
/*
     .cover{
         background-color: green!important;
     }
*/

		.form-control{
			width: 350px;
			border-radius: 0px;
			border: 1px solid #000;
			
		}

.rat{
	padding-top: 200px;
	padding-bottom:300px;
	position: relative;
	margin: 0px auto;
	width: 500px;
	height: 100px;
	z-index: 1000;
	transition:0.25s;
	display: none;
	margin-top:-200px;
	margin-bottom: 150px;
}
.cover{
	background: red ;
}
.comp{
	margin-top:-60px;
	background-color: aliceblue;

}
.comp h1{
	margin-top: -100px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: coral;
	font-family: 'Raleway-Black.ttf';
}
.cancel{
	cursor: pointer;
	font-size: 25px;
/*	border-radius: 30px;*/
	float: right;
	border:2px solid rgba(0,0,0,0.4);
	transition:0.25s;
	margin-top: -20px;
	margin-right: -10px !important;
	
}
.cancel .ext{
	color: red;
	padding-left: 5px;
	padding-right: 5px;
}
/*end of Pop up*/
/* get_amb page design */
.back_index{
	padding-top: 50px;
	padding-bottom: 50px;
	float: right;
}
.back_index a{
	color: red;
	background: black;
	border-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
	text-transform: uppercase;
	font-family: 'Roboto-Bold.ttf';
	text-decoration: none;
}
#get_col h1{
	color:darkkhaki;
	font-family: 'Roboto-Black.ttf';
	font-weight: 600;
}
#get_col h3{
	color: aquamarine;
}
/*payment styling*/
  .Payment {
	  display: none;
            margin-left:100px ;
            margin-top: 20px;
            width: 500px;
            
            
        }
          .wor .col-lg-4{
              width:160px;
              background-color: skyblue;
              padding: 30px;
          }
/*end of payment style*/
/*Facilities Design */
.well{
	border: 0px;
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.well .container .facilities_content_header{
	text-align: center;
	margin-top:-60px;

}
.well .container .facilities_content_header h1{
	font-family: 'Roboto-Black.ttf';
}
.well .container .facilities_content_header p{
	color: red;
	font-family: 'Raleway-Regular.ttf';
	font-weight:bold;
}
 /* sub design */
.sub{
    padding-top: 50px;
    padding-bottom: 50px;

}
.sub .container .sub-header h1{
    text-align:center;
    font-weight:900;
    color: rgb(192, 24, 24);
    font-family: 'Raleway-Regular.ttf';
}
.sub .container .sub-content{
    margin-top: 30px;

}
.sub .container .sub-content  .fa-angle-double-right{
    font-size: 40px;
    cursor: pointer;
    margin-top: 30px;
}
.sub .container .sub-content p{
    color: rgb(0, 2, 20);
    margin-top: -34px;
    margin-left: 33px;
    font-weight:bold;
    font-family: 'Raleway-Regular.ttf';
    font-size: 20px;
    text-transform: capitalize;
}
.row .cl{
	margin-top: 20px;
	padding: 20px;
	border:1px solid gray;
}
.row .cl .clp{
	font-family: 'Roboto-Regular.ttf';
	color: #000 !important;
}
.frm{
	width: 350px;
	border-radius: 0px;
	border: 1px solid gray;	
}
.cmd{
	margin-top: 5px;
}
.cmd .eml{
	font-size: 20px;
color: red;
font-family: 'Roboto-Regular.ttf';
}
/*Team Section */
.Our_team{
	padding-top: 50px;
	padding-bottom:100px;
	background-color: #ededed !important;
}
.Our_team .container .team h1{
	text-align: center;
	font-family: sans-serif;
	font-weight: 800;
}
.Our_team .container .team #pop{
	text-align: center !important;
	font-family: cursive;
}
.row .col-lg-4 .Team_ha{
	text-align: center;
	margin-left: -90px;
	margin-top: 20px;
	color: lightcoral;
	font-family:'Roboto-Regular.ttf';
/*	font-weight: 300;*/
}
.row .col-lg-4 .seun_cont{
	font-family: 'Raleway-Regular.ttf';
	text-transform: capitalize;
	text-align:left;
	font-weight: 800;
	margin-left: 30px;
}
.col-lg-4 .team_icons{
	margin-left: 20px !important;
}
.col-lg-4 .team_ico{
	margin-left: 80px !important;
}
.col-lg-4 .team-ic{
	margin-left: 100px !important;
}
/* customer service section */
.emergency{
    padding-top: 50px;
    padding-bottom:50px;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/pho.jpeg');
    background-size: cover;
    background-position: center;
	

}
.emergency .container .chk h1{
    text-align: center;
    color: rgb(200,230,240);
    font-weight: bold;
	font-family: 'Roboto-Black.ttf';
}
.emergency .container .chk  p{
    text-align: center;
    color: #FFF;
    font-family: 'Raleway-Light.ttf';
}
.head h3{
            text-align: left;
            color: #FFF;
            font-family: 'Roboto-Bold.ttf';
            margin-top: -32px;
            margin-left: 30px;
			cursor: pointer;
        }
        .head .faga{
            color:rgb(13, 14, 13) !important;
            font-size: 40px;
    		cursor: pointer;
    		margin-top: 30px;
        }
 .container-fluid #had{
	margin-top: 10px;
	margin-left: 30px !important;
}
#had .fa-hand-o-right{
	color: #000;
	font-size: 20px;
}
.container-fluid #had #hrt{
 color: rgb(200,230,240);
	font-family: 'Roboto-Regular.ttf';
	margin-top: -23px;
	margin-left: 30px;
}
        .form-group{
            margin: 30px auto;
        }
.clo{
	margin-right: -300px !important;
}
        .form-group .frm{
            width: 500px;
            border-radius: 0px;
            border:1px solid #FFF;
        }
.textarea-feedback{
	color: #FFF;
	font-weight:bold;
	font-family: 'Roboto-Regular.ttf';
}
.prt{
	margin-top: 10px;
	border:0px;
}
.mab{
	margin-top: -20px;
}
#sizing-addon1{
	border-radius:0px;
}
.bd{
	border-radius: 0px;
	font-family: 'Raleway-Regular.ttf';
	border: 1px solid torqoiuseblue;
}
/*Partners Section */
.part_section{
	padding-top: 50px;
	padding-bottom: 100px;
}
.part_section .container .part_content h1{
	text-align: center;
	font-family: 'Roboto-Black.ttf';
}
.part_section .container .brd{
    border-bottom: 10px solid red;
    width: 70px;
    margin-left: 47%;

}
.part_section .container .part_content .row{
	margin-top: 90px;
	padding: 10px;
}
/*Footer Section*/
.footer{
	background-color: #000;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer .container .row .col-lg-4 label{
	 color: red;
	font-family: 'Roboto-Bold.ttf';
	text-transform: capitalize;
	margin-left: 20px;
	font-size: 20px;
	opacity: 0.6;
}
.footer .container .row .col-lg-4 #about_content{
	color: white;
	margin-top: 20px;
	font-family: 'Raleway-Regular.ttf';
	margin-left: 30px;
}
.footer .container .row .col-lg-4 #contact_content{
	color: white;
	margin-top: 20px;
	font-family: 'Raleway-Regular.ttf';
	margin-left: 30px;
}
.footer .container .row .col-lg-4 .contact_icon{
	margin-left: 30px;
	
}
.footer .container .row .col-lg-4 .contact_icon i{
	padding: 20px;
	font-size: 30px;
}
.footer .container .row .col-lg-4 .contact_cal{
margin-left: 30px;
	padding: 5px;
	font-family: 'Roboto-Bold.ttf';
	color: #FFF;
}
 .colo_new_row{
	 margin-left: 20px;
	 margin-top: 20px;
}
.colo_new_row .col_link{
	text-decoration: none;
}
.colo_new_row .col_link h5{
	color: #FFF;
	font-family: 'Roboto-Regular.ttf';
}
.colo_new_row .col_link i{
	font-size: 20px;
}
.footer  h6{
	margin-top: 60px;
	text-align: center;
	color: #FFF;
	font-family: 'Roboto-Regular.ttf';
	border-top: 1px solid #fff;
	padding: 20px;
}
.back_top{
	position:fixed;
	bottom: 10px;
	right: 10px;
	background:skyblue;
	color: green;
	padding: 9px 12px;
	border-radius: 5px;
}
.back_top:hover{
	background-color: #000;
}
.back_top i{
	font-size: 20px;
	color: green !important;
}
/*Responsiveness Design */
@media(max-width:768px){
	.navbar-fixed-top{
		clear: both;
		top: 0px;
	}
	.navbar-default .mynav{
		margin: 0px auto;
		
	}
	.cancel_nav{
		display: inherit;
	}
	.navbar-right{
/*    padding-bottom: 60px !important;*/
}
	#navbar{
		margin-top: 10px;
		width: 120%;
		background-color: #000;
		padding-top: 30px;
		padding-bottom: 340px !important;
	}
	.amb{
	padding-top: 100px;
	padding-bottom:200px;
}
.amb .container .head-content #het-content{
	margin-top: 100px !important;
    color: red;
	opacity: 0.7;
    text-align: center;
   margin-top: 0px;
   font-family:'Raleway-Black.ttf' !important;
   font-size: 50px;
	font-weight: 800;
}
.amb .container .btn-grp{
    margin-left: 10px;
    margin-top: 60px;
}
.amb .container .btn-grp .btn-default{
    border-radius: 0px;
   padding-left:20px;
   padding-right:20px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   font-family:'Roboto-Regular.ttf';
   background-color: transparent;
    color: #FFF;
	border-radius: 5px;
	transition: 2s;
	margin-left: -10px;
}
.amb .container .btn-grp .btn-default:hover{
    background-color: rgb(253, 253, 253);
	transition: 2s;
	color: red;
}
.amb .container .btn-grp .btn-primary{
    border-radius: 0px;
    text-align: center;
    margin-left: 20px;
   padding-left:30px;
   padding-right:30px;
   padding-top: 10px;
	border-radius: 5px;
/*	font-weight: 700;*/
	font-family:'Roboto-Regular.ttf';
   padding-bottom: 10px;
	transition: 2s;
	margin-top: -64px;
	margin-left: 160px;
}
.amb .container .btn-grp .btn-primary:hover{
	transition: 2s;
    background-color: transparent; }
/*AMB Style Ends Here */
/*services styling */
.hed{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: rgb(228, 227, 227) !important;
}
.hed .container h1{
    text-align: center;
    font-weight: 900;
    font-family:'Roboto-Black.ttf';
}
.hed .container .brd{
    border-bottom: 10px solid red;
    width: 50px;
    margin-left: 45%;

}
.hed .container .hed-content{
    margin-top: 30px;

}
.hed .container .hed-content  .fa-angle-double-right{
    font-size: 30px;
    cursor: pointer;
    margin-top: 30px;

}
.hed .container .hed-content p{
    color: rgb(0, 2, 20);
    margin-top: -25px;
    margin-left: 25px;
    font-weight: bolder;
    font-family: 'Raleway-Regular.ttf';
    font-size: 16px;
    text-transform: capitalize;
    opacity: 0.9;
}
.hed .container .row{
	margin-top: 30px;
	margin-left: -90px;
}
.hed .container .row .col-md-3{
    margin-left: 80px;
}
.hed .container .row .col-md-3 h3{
    color: red;
    text-align: center;
    font-family: 'Roboto-Regular.ttf';
    font-weight:800;
	padding: 12px;
}
.hed .container .row .col-md-3 p{
	color: green;
	font-family: 'Raleway-Regular.ttf';
	margin-left: 40px;
}
/*End of  services Styling*/

/* emerg design */
.emerg{
    padding-top:150px;
    padding-bottom:150px;
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/2501590-ambulance-wallpapers.jpg'); !important;
    background-size: cover cover;
    background-position: center center;
}
.emerg .container .emer {
	margin-top: -50px;
}
.emerg .container .emer h1{
   
    color: #FFF;
	font-size: 30px;
	font-family:'Roboto-Black.ttf';
}
.emerg .container .emer .btn-typ{
margin-left: 50px;
margin-top: 40px;
}
.emerg .container .emer .btn-typ .btn-danger{
    padding-left: 60px;
    padding-right: 60px;
    margin-left:-45px;
    border-radius: 6px;
    transition: 1s;
    padding-top: 15px;
    padding-bottom: 15px;
	margin-left: -15px;
	margin-top: 20px;
	
    font-family:'Raleway-Light.ttf' !important;
    background-color: transparent;
    color: #FFF;
}
.emerg .container .emer .btn-typ .btn-danger:hover{
    background-color: red;
    transition: 1s;
}

.emerg .container .emer .btn-typ .btn-primary{
     padding-left: 45px;
    padding-right: 45px;
    margin-left:25px;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 2s;
	margin-top: 20px;
	margin-left: 10px;
	 font-family:'Raleway-Light.ttf' !important;
}
.emerg .container .emer .btn-typ .btn-primary:hover{
    background-color: transparent;
    transition: 1s;
}
/* sub design */
.sub{
    padding-top: 0px;
    padding-bottom:80px;

}
.sub .container .sub-header h1{
    font-weight:900;
    color: rgb(192, 24, 24);
    font-family: 'Raleway-Regular.ttf';
	font-size: 22px;
}
.sub .container .sub-content{
    margin-top: 30px;

}
.sub .container .sub-content  .fa-angle-double-right{
    font-size: 30px;
    cursor: pointer;
    margin-top: 30px;
}
.sub .container .sub-content p{
    color: rgb(0, 2, 20);
    margin-top: -26px;
    margin-left: 25px;
    font-weight:bold;
    font-family: 'Raleway-Regular.ttf';
    font-size: 18px;
    text-transform: capitalize;
}
.row .cl{
	border:1px solid gray;
}
.row .cl .clp{
	font-family: 'Roboto-Regular.ttf';
	color: #000 !important;
	font-size: 12px;
	text-align: left;
}
.frm{
	width: 350px;
	border-radius: 0px;
	border: 1px solid gray;	
}
.cmd{
	margin-top: 10px;
}
.cmd .eml{
	font-size: 20px;
color: red;
font-family: 'Roboto-Regular.ttf';
}
/*customer service */
.emergency{
    padding-top: 50px;
    padding-bottom:50px;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/pho.jpeg');
    background-size: cover;
    background-position: center;
	

}
.emergency .container .chk h1{
   font-size: 35px;
    color: rgb(200,230,240);
    font-weight: bold;
	font-family: 'Roboto-Black.ttf';
}
.emergency .container .chk  p{
    text-align: center;
    color: #FFF;
    font-family: 'Raleway-Light.ttf';
}
        .head .faga{
            color:rgb(13, 14, 13) !important;
            font-size: 30px;
    		cursor: pointer;
    		margin-top: 30px;
        }
.head h3{
            text-align: left;
            color: #FFF;
            font-family: 'Roboto-Bold.ttf';
            margin-top: -30px;
            margin-left: 25px;
			cursor: pointer;
        }
 .container-fluid #had{
	margin-top: 10px;
	margin-left: -5px !important;
}
#had .fa-hand-o-right{
	color: #000;
	font-size: 20px;
}
.container-fluid #had #hrt{
 color: rgb(200,230,240);
	font-family: 'Roboto-Regular.ttf';
	margin-top: -23px;
	margin-left: 30px;
	font-size: 14px;
}
.form-group{
            margin: 20px auto;
        }
.clo{
	margin-top:15px;
}
.clo .txt_area{
	height: 200px;
	width: 300px;
	padding: 10px auto;
}
        .form-group .frm{
            width: 250px;
            border-radius: 0px;
            border:1px solid #FFF;
        }
.prt{
	margin-top: 10px;
	border:0px;
}
.mab{
	margin-top: -20px;
}
#sizing-addon1{
	border-radius:0px;
}
.bd{
	margin-top: 5px;
	border-radius: 0px;
	margin-left: 3px;
	font-family: 'Raleway-Regular.ttf';
	border: 1px solid blue;
}
/*part section*/
.part_section{
	padding-top: 50px;
	padding-bottom: 100px;
}
.part_section .container .part_content h1{
	font-size: 40px;
	
	font-family: 'Roboto-Black.ttf';
}
.part_section .container .brd{
    border-bottom: 10px solid red;
    width: 70px;
    margin-left: 40%;
	margin-top: -5px;

}
.part_section .container .part_content .row .container .col-md-2{
	clear: both;
	display: inline-block;
}
}
